<!DOCTYPE html>
<html lang="en">
<head>
    <title> ...enigma... </title>
</head>
<body>
<form action="/post/" method="POST">
    Message:
    <br>
    <textarea name="msg" cols="72" rows="10"></textarea><!-- input type="text" name="msg" maxlength="65535" value="" -->
    <br>
    Due: <select name="due">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
    </select>
    days from now
    <input type="submit">
</form>
</body>
</html>